html {
    padding: 0;
    margin: 0 4% 0 4%;
}

* {
    font-family: 'Playfair Display', serif;
    line-height: 24px;
}

input {
    outline: 0 !important;
}

button {
    cursor: pointer;
    outline: 0 !important;
}

.signature {
    width: 100%;
    min-width: 300px;
    color: #b4ad9e;
    font-family: Ubuntu, serif;
    font-weight: 300;
    text-transform: uppercase;
}

.wrapper {
    color: #626262;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 9em 0 9em;
}

.content {
    color: #626262;
    flex-basis: 34%;
}

.lifestyle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content > img {
    width: 100%;
}

.load-more {
    padding: 1em;
    background: none;
    border: 1px solid black;
    color: #626262;
    font-size: 20px;
    margin-top: 10em;
}

.load-info {
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .wrapper {
        margin: 0 1em 0 1em;
    }
}

@media screen and (max-width: 1250px) {
    .nav {
        display: none;
    }
}
